*
{
  margin:0;
  padding:0;
  font-family:sans-serif;
}
.full-page {
    background-image: url("nature.jpg");
    width: 100%;
    height: auto;
    background-position: center;
    position: absolute;
    background-size: cover;
}
.topnav {
    height: 50px;
    width: 100%;
    padding: 20px;
    position: fixed;
    background: transparent;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.loginDiv {
    width:480px;
    height:580px;
    position:relative;
    margin:6% auto;
    background: linear-gradient(rgba(49, 23, 165, 0.4),rgba(151, 6, 6, 0.4));
    padding:5px;
    overflow:hidden;
    border-radius: 25px;
  }
  
 
.icon {
    padding-top: 25px;
    padding-left: 20%;
}

.form-box{
  height: 210px;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.input-field{
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top:0 ;
  border-bottom: 1px solid rgb(2, 0, 0);
  outline: none;
  background: transparent;
  font-size: medium;

  
}
.check-box
{
  margin:30px 10px 30px 0;
}
.submit-btn{
  padding:10px 30px;
  border-radius: 35px;
}